<section class="contact" [@fadeAnimation]="isVisible ? 'visible' : 'hidden'">
  <h1 class="o-text o-text--h2 o-text--center o-mb-0-5">{{ 'contact.title' | translate }}</h1>

  <p class="o-text o-text--md o-text--center o-mb-2">{{ 'contact.description' | translate }}</p>

  <div class="contact__list">
    <a class="contact__list-item" href="mailto:contacto@marcenico.com">
      <i class="uil uil-envelope-alt o-text o-text--h2 o-text--semi-bold o-text--first-color"></i>
      <p class="o-text o-text--h3">
        Email
        <span class="o-d-block">contacto@marcenico.com</span>
      </p>
    </a>

    <a class="contact__list-item" href="https://www.linkedin.com/in/marcenico" target="_blank">
      <i class="uil uil-linkedin-alt o-text o-text--h2 o-text--semi-bold o-text--first-color"></i>
      <p class="o-text o-text--h3">
        LinkedIn
        <span class="o-d-block">@marcenico</span>
      </p>
    </a>
  </div>
</section>
