@import 'scss/1-tools/mixins.scss';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - var(--header-height));

  &__list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    place-items: start;
    gap: 1rem;

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      place-items: center;
      gap: 0;
    }

    &-item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      @include elem-hover;
    }
  }
}
