<section class="contact">
  <h1 class="o-text-2 o-text--center o-mb-0-5">Contact me</h1>

  <p class="o-text-4 o-text--center o-mb-2">
    I'm always happy to meet new people in the industry! Send me a message or reach out to me on LinkedIn to say hello
    and introduce yourself
  </p>

  <div class="contact__list">
    <a class="contact__item" href="mailto:contacto@marcenico.com">
      <i class="uil uil-envelope-alt o-text-2 o-text--semi-bold o-text--first-color"></i>
      <div>
        <p class="o-text-3">Email</p>
        <span>contacto@marcenico.com</span>
      </div>
    </a>

    <a class="contact__item" href="https://www.linkedin.com/in/marcenico" target="_blank">
      <i class="uil uil-linkedin-alt o-text-2 o-text--semi-bold o-text--first-color"></i>
      <div>
        <p class="o-text-3">LinkedIn</p>
        <span>@marcenico</span>
      </div>
    </a>
  </div>
</section>
