@import 'styles-theme.scss';

:host {
    background: -webkit-linear-gradient(135deg, $error, $primary);
  background: -moz-linear-gradient(135deg, $error, $primary);
  background: -ms-linear-gradient(135deg, $error, $primary);
  background: -o-linear-gradient(135deg, $error, $primary);
  background: linear-gradient(135deg, $error, $primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  padding: 0 24px;
  background: -webkit-linear-gradient(135deg, $error, $primary);
  background: -moz-linear-gradient(135deg, $error, $primary);
  background: -ms-linear-gradient(135deg, $error, $primary);
  background: -o-linear-gradient(135deg, $error, $primary);
  background: linear-gradient(135deg, $error, $primary);
}

.logo {
  z-index: 1;
}

.logo a {
  color: $white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
}

.burger {
  display: none;
  div {
    width: 26px;
    height: 3px;
    margin: 5px;
    background-color: $white;
    transition: all 0.6s ease;
  }
  :nth-child(2) {
    width: 16px;
    margin-right: auto;
  }
}

.burger-active {
  :nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  :nth-child(2) {
    transform: translateX(20px);
    opacity: 0;
  }
  :nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: auto;
  li {
    list-style: none;
    transition: transform 0.3s ease-in;
    a {
      display: flex;
      font-size: 16px;
      padding: 15px;
      color: $white;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
    z-index: 1;
  }

  .nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(135deg, $primary, $primary-light);
    background: -moz-linear-gradient(135deg, $primary, $primary-light);
    background: -ms-linear-gradient(135deg, $primary, $primary-light);
    background: -o-linear-gradient(135deg, $primary, $primary-light);
    background: linear-gradient(135deg, $primary, $primary-light);
    clip-path: circle(0px at 100% 0%);
    transition: clip-path 0.6s ease-out;
    li {
      margin: 60px 0px;
      opacity: 0;
    }
  }

  .nav-active {
    clip-path: circle(1500px at 90% -10%);
  }
}

/*#region NavLinks Animation*/
@for $i from 1 through 4 {
  .animate-link-#{$i} {
    animation: navLinkFadeIn 0.3s ease forwards ($i/7 + 0.3s);
  }
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
/*#endregion NavLinks Animation*/
