<nav role="navigation">
  <div class="logo">
    <h4><a href="#">marcenico</a></h4>
  </div>

  <ul class="nav-links" [ngClass]="{ 'nav-active': showMenu }">
    <li [ngClass]="{ 'animate-link-1': showMenu }"><a routerLink="home">Home</a></li>
    <li [ngClass]="{ 'animate-link-2': showMenu }"><a routerLink="portfolio">Portfolio</a></li>
    <!-- <li [ngClass]="{ 'animate-link-3': showMenu }"><a href="">Blog</a></li> -->
    <!-- <li [ngClass]="{ 'animate-link-4': showMenu }"><a href="">Contact</a></li> -->
  </ul>

  <div class="burger" [ngClass]="{ 'burger-active': showMenu }" (click)="openBurgerMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
