<section class="portfolio o-mb-2-5">
  <h2 class="o-text-2 o-mb-0-5 o-text--center">Portfolio</h2>

  <p class="o-text-4 o-text--center o-mb-2">Recent work</p>

  <swiper-container
    class="s-swiper-container portfolio__container"
    slides-per-view="1"
    speed="500"
    navigation="true"
    pagination="true"
  >
    <!-- Content -->
    <swiper-slide class="portfolio__content o-grid" *ngFor="let item of portfolioItems">
      <img [src]="item.image" [alt]="item.title" class="portfolio__img" />

      <div class="portfolio__data">
        <h4 class="o-text-4 o-mb-0-5">{{ item.title }}</h4>
        <p class="o-text-4 o-mb-0-5">{{ item.description }}</p>

        <div class="portfolio__buttons">
          <a *ngIf="item.pageLink" [href]="item.pageLink" class="c-button c-button--inline-flex c-button--ai-center">
            Demo<i class="uil uil-arrow-right c-button__icon"></i>
          </a>
          <a
            *ngIf="item.gitHubLink"
            [href]="item.gitHubLink"
            class="c-button c-button--inline-flex c-button--ai-center"
          >
            GitHub<i class="uil uil-arrow-right c-button__icon"></i>
          </a>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
