@import 'scss/1-tools/mixins.scss';

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 18px;

  @include md {
    padding-top: calc(var(--header-height) + 18px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1.2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    @include md {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__data {
    @include md {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      max-width: 384px;
    }
  }

  &__img {
    align-self: center;
    width: 85%;
    max-width: 256px;
    border-radius: 0.5rem;

    @include md {
      width: 100%;
    }
  }
}
