<section class="portfolio o-mb-2-5">
  <h2 class="o-text o-text--h2 o-mb-0-5 o-text--center">Portfolio</h2>

  <p class="o-text o-text--lg o-text--center o-mb-2">Recent work</p>

  <swiper-container class="portfolio__swiper" slides-per-view="1" speed="500" navigation="true" pagination="true">
    <swiper-slide class="portfolio__swiper-slide" *ngFor="let item of portfolioItems">
      <img [src]="item.image" [alt]="item.title" class="portfolio__swiper-img" />

      <div class="portfolio__swiper-data">
        <h4 class="o-text o-text--lg o-mb-0-5">{{ item.title }}</h4>
        <p class="o-text o-text--lg o-mb-0-5">{{ item.description }}</p>

        <div class="portfolio__swiper-buttons">
          <a *ngIf="item.pageLink" [href]="item.pageLink" class="c-button c-button--inline-flex c-button--ai-center">
            Demo<i class="uil uil-arrow-right c-button__icon"></i>
          </a>
          <a
            *ngIf="item.gitHubLink"
            [href]="item.gitHubLink"
            class="c-button c-button--inline-flex c-button--ai-center"
          >
            GitHub<i class="uil uil-arrow-right c-button__icon"></i>
          </a>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
