<section class="portfolio o-mb-2-5">
  <h2 class="o-text-2 o-mb-0-5 o-text--center">Portfolio</h2>

  <p class="o-text-4 o-mb-1 o-text--center">Recent work</p>

  <div class="portfolio__content o-grid">
    <img src="assets/images/my-avatar.svg" alt="" class="portfolio__img" />

    <div class="portfolio__data">
      <h3 class="o-text-3 o-text--center">Project title</h3>
      <p class="o-text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

      <a href="" class="c-button c-button--inline-flex c-button--ai-center">Demo <i class="uil uil-arrow-right c-button__icon"></i></a>
    </div>
  </div>
</section>
