@import 'scss/1-tools/mixins.scss';

.about {
  @include section-page;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-around;

    &-item {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
