<section class="about" [@fadeAnimation]="isVisible ? 'visible' : 'hidden'">
  <app-section-title section="about.title"></app-section-title>

  <app-section-description section="about.description"></app-section-description>

  <div class="about__list o-mb-1-5">
    <div class="about__list-item">
      <span class="o-text o-text--h2 o-text--semi-bold o-text--center">05+</span>
      <span class="o-text o-text--xs o-text--center"
        >{{ 'about.years' | translate }}&nbsp;<br />{{ 'about.experience' | translate }}</span
      >
    </div>

    <div class="about__list-item">
      <span class="o-text o-text--h2 o-text--semi-bold o-text--center">03+</span>
      <span class="o-text o-text--xs o-text--center"
        >{{ 'about.companies' | translate }}<br />{{ 'about.worked' | translate }}</span
      >
    </div>
  </div>

  <app-button-next sectionId="skills"></app-button-next>
</section>
