<section class="about">
  <h1 class="about__title">About me</h1>

  <div class="about__data">
    <p class="about__description">
      5+ years experience in web development, using my knowledge for the production of quality works.
    </p>
  </div>

  <div class="about__info">
    <div>
      <span class="about__info-title">05+</span>
      <span class="about__info-paragraph">Years <br />experience</span>
    </div>

    <div>
      <span class="about__info-title">03+</span>
      <span class="about__info-paragraph">Companies<br />worked</span>
    </div>
  </div>

  <div class="about__button">
    <a download="" href="assets/pdf/cv.pdf" class="button button--flex"
      >Descargar CV <i class="uil uil-download-alt button__icon"></i
    ></a>
  </div>
</section>
