<section class="about o-mb-2">
  <h1 class="o-title-2 o-mb-0-5">About me</h1>

  <p class="o-text-1 o-mb-1">
    5+ years experience in web development, using my knowledge for the production of quality works.
  </p>

  <div class="about__info o-mb-1">
    <div>
      <span class="o-title-2 o-title--semi-bold o-title--center">05+</span>
      <span class="o-text-3 o-text--center">Years <br />experience</span>
    </div>

    <div>
      <span class="o-title-2 o-title--semi-bold o-title--center">03+</span>
      <span class="o-text-3 o-text--center">Companies<br />worked</span>
    </div>
  </div>

  <!-- <div class="about__button">Boton ejemplo</div> -->
</section>
