<footer class="footer">
  <p class="footer__copyright o-text o-text--sm">
    Made with <span class="footer__heart o-text o-text--h4 o-text--first-color o-text--shadow">❤</span> by marcenico
  </p>

  <div class="footer__links">
    <a
      class="footer__link o-text o-text--h3 o-text--semi-bold"
      href="https://www.linkedin.com/in/marcenico"
      target="_blank"
    >
      <i class="uil uil-linkedin"></i>
    </a>

    <a class="footer__link o-text o-text--h3 o-text--semi-bold" href="https://github.com/marcenico" target="_blank">
      <i class="uil uil-github"></i>
    </a>

    <a class="footer__link o-text o-text--h3 o-text--semi-bold" href="https://twitter.com/_marcenico" target="_blank">
      <i class="uil uil-twitter"></i>
    </a>

    <a
      class="footer__link o-text o-text--h3 o-text--semi-bold"
      href="https://www.instagram.com/_marcenico"
      target="_blank"
    >
      <i class="uil uil-instagram-alt"></i>
    </a>
  </div>
</footer>
