@import 'scss/1-tools/mixins.scss';

:host {
  z-index: var(--z-fixed);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  @include md {
    top: 0;
    bottom: unset;
    display: flex;
    justify-content: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 1.5rem;
  @include user-select-none;

  &--bg-color {
    background-color: var(--first-color);

    @include md {
      background-color: var(--body-color);
    }
  }

  &__logo {
    @include md {
      color: unset;
    }
  }

  &__menu {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: var(--z-fixed);
    width: 100%;
    padding: 2.5rem 0.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    -webkit-box-shadow: -1px -1px 5px -1px #000000bf;
    -moz-box-shadow: -1px -1px 5px -1px #000000bf;
    box-shadow: -1px -1px 5px -1px #000000bf;
    transform: translateY(110%);

    @include md {
      position: relative;
      padding: 0;
      box-shadow: unset;
      background-color: unset;
      transform: unset;
    }

    &--bg-color {
      background-color: var(--first-color);

      @include md {
        background-color: var(--body-color);
      }
    }

    &.is-open {
      transition: transform 600ms ease;
      transform: translateY(0%);
    }

    &.is-close {
      transition: transform 600ms ease;
      transform: translateY(110%);
      @include md {
        transform: unset;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 2.5rem;

    @include md {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
      margin: 0 4rem;
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;

    @include elem-hover;

    @include md {
      padding: 0 0.75rem;

      &.is-active {
        background-color: var(--first-color);
        color: var(--text-color-white);
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include md {
      flex-direction: row;
      gap: 0.25rem;
      color: unset;
    }
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    color: var(--text-color-white);
    @include elem-hover;

    @include md {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    &-theme {
      &-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;

        @include md {
          @include elem-hover;
        }

        &-sun {
          position: absolute;
          opacity: 0;
          transform: scale(0) rotate(360deg);
          transition: opacity 1s, transform 800ms cubic-bezier(0.26, 2, 0.46, 0.71);
          @include md {
            color: unset;
          }
        }

        &-moon {
          position: absolute;
          opacity: 1;
          transform: scale(1) rotate(0deg);
          transition: opacity 1s, transform 800ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
          @include md {
            color: unset;
          }
        }
      }

      &-checkbox:checked ~ &-wrapper .nav__buttons-theme-wrapper-sun {
        opacity: 1;
        transform: scale(1) rotate(0deg);
      }

      &-checkbox:checked ~ &-wrapper .nav__buttons-theme-wrapper-moon {
        opacity: 0;
        transform: scale(0) rotate(45deg);
      }
    }

    &-menu {
      cursor: pointer;
      display: flex;
      align-items: center;
      @include elem-hover;

      &--ml {
        margin-left: 0.5rem;
      }

      @include md {
        color: unset;
      }
    }
  }
}
