@import 'scss/1-tools/mixins.scss';

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  @include md {
    top: 0;
    bottom: unset;
    display: flex;
    justify-content: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 1.5rem;

  &--bg-color {
    background-color: var(--first-color);

    @include md {
      background-color: var(--body-color);
    }
  }

  &__logo {
    color: var(--text-color-light);

    @include md {
      color: unset;
    }
  }

  &__menu {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: var(--z-fixed);
    width: 100%;
    padding: 2.5rem 0.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    -webkit-box-shadow: -1px -1px 5px -1px #000000bf;
    -moz-box-shadow: -1px -1px 5px -1px #000000bf;
    box-shadow: -1px -1px 5px -1px #000000bf;
    transform: translateY(110%);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    @include md {
      position: relative;
      padding: 0;
      box-shadow: unset;
      background-color: unset;
      transform: unset;
    }

    &.is-open {
      transition: transform 600ms ease;
      transform: translateY(0%);
    }

    &.is-close {
      transition: transform 600ms ease;
      transform: translateY(110%);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 2.5rem;

    @include md {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0;
      margin: 0 4rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color-light);
    transition: background-color 300ms ease;

    @include md {
      color: unset;
      padding: 0 1.25rem;

      &.is-active {
        background-color: var(--first-color);
        color: var(--text-color-light);
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include md {
      flex-direction: row;
    }
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    @include elem-hover;

    @include md {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__button {
    cursor: pointer;
    color: var(--text-color-light);
    @include elem-hover;

    &--ml {
      margin-left: 1.5rem;
    }

    @include md {
      color: unset;
    }
  }
}
