<nav class="nav nav--bg-color o-shadow-bottom@md" role="navigation">
  <!-- Main title/Logo -->
  <a href="#" class="nav__logo o-text-2 o-text--semi-bold">marcenico</a>

  <!-- Links -->
  <div class="nav__menu nav--bg-color" [ngClass]="hideOpenCloseMenuStates ? '' : !showMenu ? 'is-close' : 'is-open'">
    <ul class="nav__list">
      <li class="nav__item" [ngClass]="{ 'is-active': activeSection === 'home' }">
        <a class="nav__link o-text-5 o-text--semi-bold" (click)="goTo('home'); toggleMenu()"
          ><i class="uil uil-estate o-text-3"></i>Home
        </a>
      </li>
      <li class="nav__item nav__item--border-left" [ngClass]="{ 'is-active': activeSection === 'about' }">
        <a class="nav__link o-text-5 o-text--semi-bold" (click)="goTo('about'); toggleMenu()"
          ><i class="uil uil-user-circle o-text-3"></i>About
        </a>
      </li>
      <li class="nav__item nav__item--border-left" [ngClass]="{ 'is-active': activeSection === 'skills' }">
        <a class="nav__link o-text-5 o-text--semi-bold" (click)="goTo('skills'); toggleMenu()"
          ><i class="uil uil-bolt o-text-3"></i>Skills
        </a>
      </li>

      <li class="nav__item nav__item--border-left" [ngClass]="{ 'is-active': activeSection === 'portfolio' }">
        <a class="nav__link o-text-5 o-text--semi-bold" (click)="goTo('portfolio'); toggleMenu()"
          ><i class="uil uil-file-alt o-text-3"></i>Portfolio
        </a>
      </li>
      <!-- <li class="nav__item nav__item--border-left" [ngClass]="{ 'is-active': activeSection === 'contactme' }">
        <a class="nav__link o-text-2 o-text--semi-bold" (click)="goTo('contactme'); toggleMenu()"
          ><i class="uil uil-comment-alt-notes o-text-3"></i>Contact me
        </a>
      </li> -->
    </ul>
    <i class="uil uil-times nav__close-btn o-text-3" (click)="toggleMenu()"></i>
  </div>

  <div class="nav__buttons">
    <div class="nav__button" (click)="toggleTheme()">
      <i class="uil o-text-3" [ngClass]="{ 'uil-sun': getTheme() === 'dark', 'uil-moon': getTheme() !== 'dark' }"></i>
    </div>

    <div class="nav__button nav__button--ml u-d-none@md" (click)="toggleMenu()">
      <i class="uil uil-apps o-text-3"></i>
    </div>
  </div>
</nav>
