<nav class="nav o-bg" role="navigation">
  <!-- Main title/Logo -->
  <a href="#" class="o-title-2 o-title--semi-bold o-title--light">marcenico</a>

  <!-- Links -->
  <div class="nav__menu o-bg" [ngClass]="showMenu ? 'nav__menu--open' : 'nav__menu--close'">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link o-text-2 o-text--light o-text--semi-bold" (click)="goTo('home'); toggleMenu()"
          ><i class="uil uil-estate o-title-3 o-title--light"></i>Home</a
        >
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link o-text-2 o-text--light o-text--semi-bold" (click)="goTo('about'); toggleMenu()"
          ><i class="uil uil-user-circle o-title-3 o-title--light"></i>About</a
        >
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link o-text-2 o-text--light o-text--semi-bold" (click)="goTo('portfolio'); toggleMenu()"
          ><i class="uil uil-file-alt o-title-3 o-title--light"></i>Portfolio</a
        >
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link o-text-2 o-text--light o-text--semi-bold" (click)="goTo('skills'); toggleMenu()"
          ><i class="uil uil-bolt o-title-3 o-title--light"></i>Skills
        </a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link o-text-2 o-text--light o-text--semi-bold" (click)="goTo('contactme'); toggleMenu()"
          ><i class="uil uil-comment-alt-notes o-title-3 o-title--light"></i>Contact me
        </a>
      </li>
    </ul>
    <i class="uil uil-times nav__close-btn o-title-3 o-title--light" (click)="toggleMenu()"></i>
  </div>

  <div class="nav__buttons">
    <div class="nav__button nav__button--mr" (click)="toggleTheme()">
      <i
        class="uil o-title-3 o-title--light"
        [ngClass]="{ 'uil-sun': getTheme() === 'dark', 'uil-moon': getTheme() === 'light' }"
      ></i>
    </div>

    <div class="nav__button" (click)="toggleMenu()">
      <i class="uil uil-apps o-title-3 o-title--light"></i>
    </div>
  </div>
</nav>
