@import 'scss/1-tools/mixins.scss';

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 1.5rem;

  &__menu {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: var(--z-fixed);
    width: 100%;
    padding: 2.5rem 0.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    box-shadow: -1px -1px 5px -1px #000000bf;
    -webkit-box-shadow: -1px -1px 5px -1px #000000bf;
    -moz-box-shadow: -1px -1px 5px -1px #000000bf;

    &--close {
      transition: transform 600ms ease;
      transform: translateY(110%);
    }

    &--open {
      transition: transform 600ms ease;
      transform: translateY(0);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 2.5rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include elem-hover;
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    @include elem-hover;
  }

  &__open-button {
    cursor: pointer;
    @include elem-hover;
  }
}
