@import 'scss/1-tools/mixins.scss';

.home {
  @include section-page;

  @include md {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;

    &__button-next {
      grid-area: 2 / 1 / 3 / 3;
    }
  }

  &__avatar-social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--mb-2) 0;

    @include md {
      flex-direction: column;
    }
  }

  &__avatar-blob {
    display: flex;
    margin: 0 2rem 0 0;
    max-height: 220px;
    fill: var(--first-color);

    @include md {
      margin: 0;
      width: 100%;
      max-height: 320px;
    }

    &-img {
      width: 120px;
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;

    @include md {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2rem;
      margin: 3rem 0 0 0;
    }

    &-item {
      @include elem-hover;
    }

    &-link {
      transition: color 200ms ease-in;
      &:hover {
        color: var(--first-color);
      }
    }
  }
}
