@import 'scss/1-tools/mixins.scss';

.home {
  &__avatar-and-data {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    align-items: center;
    margin-bottom: var(--mb-2);
  }

  &__avatar-blob {
    display: flex;
    margin: auto;
    max-height: 220px;
    fill: var(--first-color);

    @include md {
      max-height: 320px;
    }

    &-img {
      width: 145px;
    }
  }

  &__contact {
    &-item {
      @include elem-hover;
    }

    &-link {
      transition: color 200ms ease-in;
      &:hover {
        color: var(--first-color);
      }
    }
  }
}
