<section class="home__image-contact-data">
  <!-- PERSONAL INFO -->
  <svg class="home__blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0" mask-type="alpha">
      <path
        d="M38.7,-67.9C51.6,-59.5,64.6,-52.2,74.6,-41C84.5,-29.9,91.3,-14.9,89.7,-0.9C88.1,13.1,78,26.2,68.5,37.9C58.9,49.7,49.8,60.1,38.5,70C27.2,79.8,13.6,89,0.4,88.3C-12.8,87.7,-25.6,77,-39.7,68.8C-53.8,60.6,-69.3,54.8,-77.2,43.7C-85.1,32.6,-85.5,16.3,-82.6,1.6C-79.8,-13,-73.8,-26.1,-67.2,-39.5C-60.7,-53,-53.6,-66.8,-42.3,-76.2C-31,-85.6,-15.5,-90.5,-1.3,-88.2C12.9,-85.9,25.7,-76.4,38.7,-67.9Z"
        transform="translate(100 100)"
      />
    </mask>
    <g mask="url(#mask0)">
      <path
        d="M38.7,-67.9C51.6,-59.5,64.6,-52.2,74.6,-41C84.5,-29.9,91.3,-14.9,89.7,-0.9C88.1,13.1,78,26.2,68.5,37.9C58.9,49.7,49.8,60.1,38.5,70C27.2,79.8,13.6,89,0.4,88.3C-12.8,87.7,-25.6,77,-39.7,68.8C-53.8,60.6,-69.3,54.8,-77.2,43.7C-85.1,32.6,-85.5,16.3,-82.6,1.6C-79.8,-13,-73.8,-26.1,-67.2,-39.5C-60.7,-53,-53.6,-66.8,-42.3,-76.2C-31,-85.6,-15.5,-90.5,-1.3,-88.2C12.9,-85.9,25.7,-76.4,38.7,-67.9Z"
        transform="translate(100 100)"
      />
      <image class="home__blog-img" x="25" y="38" href="../../../assets/images/my-avatar.svg" />
    </g>
  </svg>

  <!-- CONTACT DATA -->
  <ul class="home__contact-data">
    <li class="home__contact-item elem-hover">
      <a class="home__contact-link" href="https://www.linkedin.com/in/marcenico" target="_blank"
        ><i class="uil uil-linkedin"></i
      ></a>
    </li>
    <li class="home__contact-item elem-hover">
      <a class="home__contact-link" href="https://github.com/marcenico" target="_blank"
        ><i class="uil uil-github"></i
      ></a>
    </li>
    <li class="home__contact-item elem-hover">
      <a class="home__contact-link" href="https://twitter.com/_marcenico" target="_blank"
        ><i class="uil uil-twitter"></i
      ></a>
    </li>
    <li class="home__contact-item elem-hover">
      <a class="home__contact-link" href="https://www.instagram.com/_marcenico" target="_blank"
        ><i class="uil uil-instagram-alt"></i
      ></a>
    </li>
  </ul>
</section>

<section class="home__info">
  <h1 class="home__title">Hi, I'm Marce</h1>
  <h2 class="home__subtitle">Frontend developer</h2>
  <p>5+ years experience in web development, using my development knowledge for the production of quality works.</p>
</section>
