<section class="home" [@fadeAnimation]="'visible'">
  <div class="home__box home__box-avatar">
    <!-- PERSONAL INFO -->
    <svg class="home__avatar-blob" viewBox="12 10 166 166" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0" mask-type="alpha">
        <path
          d="M38.9,-71.3C48.6,-61.8,53.3,-47.7,56.4,-35C59.5,-22.3,61,-11.2,65.3,2.5C69.6,16.1,76.6,32.2,72.9,43.7C69.1,55.2,54.5,62.2,40.5,65.5C26.6,68.7,13.3,68.4,-1.5,71C-16.3,73.6,-32.6,79.2,-46.9,76.1C-61.2,73,-73.6,61.3,-80.4,47.2C-87.2,33.1,-88.4,16.5,-83.9,2.6C-79.4,-11.3,-69,-22.6,-62.2,-36.6C-55.3,-50.6,-51.9,-67.3,-42.1,-76.7C-32.3,-86.2,-16.2,-88.4,-0.8,-87.1C14.6,-85.8,29.2,-80.9,38.9,-71.3Z"
          transform="translate(100 100)"
        />
      </mask>
      <g mask="url(#mask0)">
        <path
          d="M38.9,-71.3C48.6,-61.8,53.3,-47.7,56.4,-35C59.5,-22.3,61,-11.2,65.3,2.5C69.6,16.1,76.6,32.2,72.9,43.7C69.1,55.2,54.5,62.2,40.5,65.5C26.6,68.7,13.3,68.4,-1.5,71C-16.3,73.6,-32.6,79.2,-46.9,76.1C-61.2,73,-73.6,61.3,-80.4,47.2C-87.2,33.1,-88.4,16.5,-83.9,2.6C-79.4,-11.3,-69,-22.6,-62.2,-36.6C-55.3,-50.6,-51.9,-67.3,-42.1,-76.7C-32.3,-86.2,-16.2,-88.4,-0.8,-87.1C14.6,-85.8,29.2,-80.9,38.9,-71.3Z"
          transform="translate(100 100)"
        />
        <image class="home__avatar-blob-img" x="35" y="30" href="assets/images/my-avatar.svg" />
      </g>
    </svg>

    <!-- CONTACT DATA -->
    <ul class="home__contact">
      <li class="home__contact-item">
        <a
          class="home__contact-link o-text o-text--h2 o-text--semi-bold"
          href="https://www.linkedin.com/in/marcenico"
          target="_blank"
          ><i class="uil uil-linkedin"></i
        ></a>
      </li>
      <li class="home__contact-item">
        <a
          class="home__contact-link o-text o-text--h2 o-text--semi-bold"
          href="https://github.com/marcenico"
          target="_blank"
          ><i class="uil uil-github"></i
        ></a>
      </li>
      <li class="home__contact-item">
        <a
          class="home__contact-link o-text o-text--h2 o-text--semi-bold"
          href="https://twitter.com/_marcenico"
          target="_blank"
          ><i class="uil uil-twitter"></i
        ></a>
      </li>
      <li class="home__contact-item">
        <a
          class="home__contact-link o-text o-text--h2 o-text--semi-bold"
          href="https://www.instagram.com/_marcenico"
          target="_blank"
          ><i class="uil uil-instagram-alt"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="home__box home__box-presentation o-mb-1-5">
    <h1 class="o-text o-text--h1 o-text--shadow">
      {{ 'home.title' | translate }}
      <span class="o-text o-text--h1 o-text--first-color">
        {{ 'home.name' | translate }}
      </span>
    </h1>

    <app-section-title section="home.subtitle"></app-section-title>

    <a (click)="downloadCV()" class="c-button o-text--center">{{ 'home.downloadCV' | translate }}</a>
  </div>

  <app-button-next class="home__box home__button-next" sectionId="portfolio"></app-button-next>
</section>
