.o-mb {
  &-0-25 {
    margin-bottom: var(--mb-0-25);
  }
  &-0-5 {
    margin-bottom: var(--mb-0-5);
  }
  &-0-75 {
    margin-bottom: var(--mb-0-75);
  }
  &-1 {
    margin-bottom: var(--mb-1);
  }
  &-1-5 {
    margin-bottom: var(--mb-1-5);
  }
  &-2 {
    margin-bottom: var(--mb-2);
  }
  &-2-5 {
    margin-bottom: var(--mb-2-5);
  }

  @include md {
    &-unset\@md {
      margin-bottom: unset;
    }
  }
}
