.o-text {
  &-1 {
    color: var(--text-color);
    font-size: var(--normal-font-size);
  }

  &-2 {
    color: var(--text-color);
    font-size: var(--small-font-size);
  }

  &-3 {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
  }

  &--center {
    text-align: center;
  }

  &--first-color {
    color: var(--first-color);
  }

  &--light {
    color: var(--text-color-light);
  }
}
