<footer>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/marcenico" target="_blank"
        ><img class="logo-social" src="assets/images/linkedin.svg" alt="LinkedIn Logo"
      /></a>
    </li>
    <li>
      <a href="https://github.com/marcenico" target="_blank"
        ><img class="logo-social" src="assets/images/github.svg" alt="GitHub Logo"
      /></a>
    </li>
    <li>
      <a href="https://twitter.com/_marcenico" target="_blank"
        ><img class="logo-social" src="assets/images/twitter.svg" alt="Twitter Logo"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/_marcenico" target="_blank"
        ><img class="logo-social" src="assets/images/instagram.svg" alt="Instagram Logo"
      /></a>
    </li>
  </ul>
  <p class="copyright">Made with <span>❤</span> by me.</p>
</footer>
