<section class="skills o-mb-2-5">
  <h2 class="o-text-2 o-mb-0-5 o-text--center">Skills</h2>

  <p class="o-text-4 o-mb-1 o-text--center">My technical level</p>

  <!-- Frontend Skills -->
  <app-dropdown title="Frontend developer" subtitle="More than 5 years" icon="uil-brackets-curly" [dropdownItems]="skillsFrontend"></app-dropdown>

  <!-- Backend Skills -->
  <app-dropdown title="Backend developer" subtitle="More than 2 years" icon="uil-server-network" [dropdownItems]="skillsBackend"></app-dropdown>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla recusandae officiis vitae, voluptatum error harum
    et. Obcaecati minus optio quasi quam cupiditate officia, ab atque tempora aperiam quia culpa deleniti!
  </p>
</section>
