@import 'scss/1-tools/mixins.scss';

.skills {
  @include section-page;

  &__list {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 4rem);
    gap: 1.5rem;

    @include md {
      grid-template-columns: repeat(auto-fit, 5rem);
      gap: 2rem;
    }

    &-item {
      display: flex;
      background-color: var(--container-color);
      border-radius: 50%;
      width: 4rem;
      height: 4rem;

      $shadow-value: 1px 2px 5px -2px var(--shadow-color);
      @include box-shadow($shadow-value);

      @include md {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  &__icon {
    margin: auto;
    width: 2rem;
    height: auto;

    @include md {
      width: 3rem;
    }
  }
}
