@import 'scss/1-tools/mixins.scss';

.skills {
  @include section-page;

  &__list {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 4rem));
    gap: 1.5rem;

    @include md {
      grid-template-columns: repeat(auto-fit, minmax(4rem, 5rem));
      gap: 2rem;
    }
  }

  &__technology-icon {
    width: 100%;
    height: auto;
  }
}
