<section class="skills">
  <h2 class="o-text o-text--h2 o-mb-0-5 o-text--center">Skills</h2>

  <p class="o-text o-text--md o-text--center o-mb-2">My technical level</p>

  <!-- Skills List -->
  <div class="skills__list o-mb-2-5">
    <!-- Frontend Skills -->
    <app-dropdown
      title="Frontend developer"
      subtitle="More than 5 years"
      icon="uil-brackets-curly"
      [dropdownItems]="skillsFrontend"
    ></app-dropdown>

    <!-- Backend Skills -->
    <app-dropdown
      title="Backend developer"
      subtitle="More than 2 years"
      icon="uil-server-network"
      [dropdownItems]="skillsBackend"
    ></app-dropdown>
  </div>

  <app-button-next sectionId="portfolio"></app-button-next>
</section>
