<section class="skills" [@fadeAnimation]="isVisible ? 'visible' : 'hidden'">
  <app-section-title section="skills.title"></app-section-title>

  <app-section-description section="skills.description"></app-section-description>

  <!-- Skills List -->
  <ul class="skills__list o-mb-1-5">
    <li [title]="skill.name" class="skills__list-item" *ngFor="let skill of skills">
      <img class="skills__icon" [src]="skill.icon" [alt]="skill.name" />
    </li>
  </ul>

  <app-button-next sectionId="portfolio"></app-button-next>
</section>
