@import 'scss/1-tools/mixins.scss';

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - var(--header-height));

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
    }
  }

  @include md {
    padding-top: calc(var(--header-height) + 18px);
  }
}
