@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

/*#region Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*#endregion Base */

/*#region Reusables classes */
.container {
  max-width: 480px;
  padding: 1.5rem;
  margin: auto;
}

.bg-gradient {
  background: var(--first-color);
}

.w-100 {
  width: 100%;
}

.elem-hover {
  transition: 200ms ease-in;
  &:hover {
    transform: scale(1.1);
  }
}
/*#endregion Reusables classes */
