@import 'theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: 'Cascadia Code', serif;
  background: linear-gradient(135deg, $primary, $primary-light);
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
