@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

//Settings
@import '1-settings/settings';

//Tools - (funcs - mixins)
@import '2-tools/funtions';
@import '2-tools/mixins';

//Generic
@import '3-generic/generic';

//Tags
@import '4-tags/tags';

//Objects
@import '5-objects/container';

//Utilities
@import '6-utilities/utilities';

/*#region Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: var(--text-color);
}
/*#endregion Base */

/*#region Reusables classes */
.container {
  max-width: 480px;
  padding: 1.5rem;
  margin: auto;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  font-weight: var(--font-medium);
  box-shadow: 1px 1px 3px 1px #00000066;
  &:hover {
    background-color: var(--first-color-alt);
  }
  .button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 200ms ease-in;
  }
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.bg-gradient {
  background: var(--first-color);
}

.w-100 {
  width: 100%;
}

.elem-hover {
  transition: 200ms ease-in;
  &:hover {
    transform: scale(1.1);
  }
}
/*#endregion Reusables classes */
