// Media Query Mixins
@mixin sm {
  @media (min-width: 501px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 1101px) {
    @content;
  }
}

// Range Mixins
@mixin only-xs {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin only-sm {
  @media (min-width: 501px) and (max-width: 1100px) {
    @content;
  }
}

@mixin only-md {
  @media (min-width: 1101px) {
    @content;
  }
}

// Element Hover Mixin
@mixin elem-hover {
  transition: all 200ms ease-in;
  &:hover {
    transform: scale(1.05);
  }
}

// User Select None Mixin
@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
