@mixin sm() {
  @media (min-width: 501px) {
    @content;
  }
}

@mixin md() {
  @media (min-width: 1101px) {
    @content;
  }
}

// RANGE
@mixin only-xs() {
  @media (min-width: 0px) and (max-width: 500px) {
    @content;
  }
}

@mixin only-sm() {
  @media (min-width: 501px) and (max-width: 1100px) {
    @content;
  }
}

@mixin only-md() {
  @media (min-width: 1101px) {
    @content;
  }
}

@mixin elem-hover {
  transition: all 200ms ease-in;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin user-select-none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
